.card {
  height: 220px;
  width: 150px;
  border-radius: 8px;
  background-color: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: 150ms;
}

.card:hover {
  transform: scale(1.05);
}

.square {
  height: 65%;
  border-radius: 8px 8px 0 0;
}

.label {
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 13px;
}
